<div class="row">
  <div class="col-lg-6 col-lg-offset-3 well">
    <h3 class="text-center">ABOUT</h3>
    <hr>
    <h3>What is the diabetes helper system?</h3>
    <p>
      Diabetes Helper System is a forum style social media platform. The aim is to conect diabetics together on one platform, where they can connect with other people similar to them, share recipes, ideas and just generally support each other and meet like-minded people.
    </p>
  
  </div>
</div>